body {
  background-color: #222;
  color: #fff;
}

#container {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 24px;
}

#working-hours {
  font-size: 18px;
  margin-top: 20px;
}
